<!DOCTYPE html>
<html>
<head>
  <title>TextBub</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="row">
      <div class="twelve columns">
        <ul class="nav">
          <a class="link" href="https://textbub.herokuapp.com">
            <h1 class= "hvr-underline-from-center">textbub</h1>
          </a><br><h5 class="num"><a href="/resource/textbub.vcf" download>1(646)455-3611</a></h5>
          <div class="navbutts">
            <% if session[:current_user_id] %>
              <li><button class="hvr-underline-from-center">
                <%= link_to "logout", sessions_path, method: :delete %>
              </button></li>
              <button class="hvr-underline-from-center"><%= link_to "#{User.find(session[:current_user_id]).handle}'s profile",
                user_path(session[:current_user_id]) %></button>
            <% else %>
              <li><button class="hvr-underline-from-center">
                <%= link_to "signup", new_user_path %>
              </button></li>
              <li><button class="hvr-underline-from-center">
                <%= link_to "login", users_path %>
              </button></li>
            <% end %>
            <li><button class="hvr-underline-from-center">
              <%= link_to "search", new_browser_path %>
            </button></li><br>
            <li><button class="hvr-underline-from-center">
              <a href="/resource/textbub.vcf" download>add textbub to your contacts</a>
            </button></li>
          </ul>
        </div>
      </div>
    </div>

<%= yield %>
<%= render "layouts/footer" %>

</body>
</html>
