<!DOCTYPE html>
<html>
<head>
  <title>TextBub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li>
      <h1>TextBub</h1>
    </li>
    <% if session[:current_user_id] %>
      <li><button>
        <%= link_to "Logout", sessions_path, method: :delete %>
      </button></li>
      <button><%= link_to "#{User.find(session[:current_user_id]).handle}'s profile",
        user_path(session[:current_user_id]) %></button> <br/>
    <% else %>
      <li><button>
        <%= link_to "Sign Up", new_user_path %>
      </button></li>
      <li><button>
        <%= link_to "Log In", users_path %>
      </button></li>
    <% end %>
    <li><button>
      <%= link_to "Just Browse", new_browser_path %>
    </button></li>
  </ul>

<%= yield %>

</body>
</html>
