<div class="search form">
  <div class ="row">
    <div class = "twelve colums">
      <h5 class="col_one_title">Search By</h5>
    </div>
  </div>
  <%= form_tag("./search", method: "get") do %>
    <div class=row>
      <div class="six columns col_one_title">
        <%= label_tag(:name, "User Name:") %>
        <%= text_field_tag(:name) %>
        <%= label_tag(:email, "Email:") %>
        <%= text_field_tag(:email) %>
        <%= label_tag(:handle, "User Handle:") %>
        <%= text_field_tag(:handle) %>
        <%= label_tag(:business_name, "Busines Name:") %>
        <%= text_field_tag(:business_name) %>
      </div>
      <div class="six columns col_one_title">
        <%= label_tag(:service_provided, "Service Provided:") %>
        <%= text_field_tag(:service_provided) %><br/>
        <%= label_tag(:city, "City:") %>
        <%= text_field_tag(:city) %><br/>
        <%= label_tag(:zipcode, "Zipcode:") %>
        <%= text_field_tag(:zipcode) %><br/>
      </div>
    </div>
    <div class=row>
      <div class="twelve columns col_one_title">
        <%= submit_tag("Search") %>
        <% end %>
      </div>
    </div>
</div>
