<div class="search form">
  <div class ="row">
    <div class = "twelve colums">
      <h5 class="col_one_title">Search By</h5>
    </div>
  </div>
  <%= form_tag("./search", method: "get") do %>
    <div class=row>
      <div class="six columns col_one_title">

        <%= label_tag(:name, "User Name:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:name) %></div>
        <%= label_tag(:email, "Email:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:email) %></div>
        <%= label_tag(:handle, "User Handle:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:handle) %></div>
        <%= label_tag(:business_name, "Busines Name:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:business_name) %></div>
      </div>
      <div class="six columns col_one_title">
        <%= label_tag(:service_provided, "Service Provided:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:service_provided) %></div><br/>
        <%= label_tag(:city, "City:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:city) %></div><br/>
        <%= label_tag(:zipcode, "Zipcode:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:zipcode) %></div><br/>
      </div>
    </div>
    <div class=row>
      <div class="twelve columns col_one_title">
        <div class="hvr-underline-from-center"><%= submit_tag("Search") %></div>
        <% end %>
      </div>
    </div>
</div>
