<div class="search form">
  <div class ="row">
    <div class = "twelve colums">
      <h5 class="col_one_title">search by</h5>
    </div>
  </div>
  <%= form_tag("./search", method: "get") do %>
    <div class=row>
      <div class="three columns col_one_title"></div>
      <div class="three columns col_one_title">

        <%= label_tag(:name, "user name:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:name) %></div>
        <%= label_tag(:email, "email:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:email) %></div>
        <%= label_tag(:handle, "user handle:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:handle) %></div>
        <%= label_tag(:business_name, "busines name:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:business_name) %></div>
      </div>
      <div class="three columns col_one_title">
        <%= label_tag(:service_provided, "service provided:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:service_provided) %></div><br/>
        <%= label_tag(:street_address, "address:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:street_address) %></div><br/>
        <%= label_tag(:city, "city:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:city) %></div><br/>
        <%= label_tag(:zipcode, "zipcode:") %>
        <div class="hvr-underline-from-center"><%= text_field_tag(:zipcode) %></div><br/>
      </div>
    </div>
    <div class=row>
      <div class="twelve columns col_one_title">
        <div class="hvr-underline-from-center"><%= submit_tag("Search") %></div>
        <% end %>
      </div>
    </div>
</div>
