
  <% @results.each do |result| %>
  <div class="row">
    <div class="one-third column scroll" style="height:300px;width:30%;border:1px solid #ccc;font:16px/26px; overflow:auto;position: relative;">
        <h5 class="ctitle">Search Result</h5>
        <%= image_tag(result.image(:medium), size: "150x150", class: "img-responsive") %>
        <p>Name: <%= result.name %> </p>
        <p>Handle: <%= result.handle %></p>
        <p>Business Name: <%= result.business_name %></p>
        <p>Service Provided: <%= result.service_provided %></p>
        <p>Street Address:</p>
        <p> <%= result.street_address %> </p>
        <% street = result.street_address %>
        <p>City: <%= result.city %> </p>
        <% city = result.city %>
        <p>Zip: <%= result.zipcode %></p>
        <% zip = result.city %>
        <% addey = street + " " + city + " " + zip %>
        <% addey.gsub!(/\s/,'+') %>
        <% query = "http://maps.google.com/?q=" + addey %>
        <p>Email: <%= result.email %></p>
        <p>Hours of Operation: </p>
        <p><%= result.hours_of_operation%></p>
        <p>Tel: <%= result.telephone %></p>
        <p>Link to Profile:<br>
          <a href=<%="https://textbub.herokuapp.com/users/" + result.id.to_s%>><%="https://textbub.herokuapp.com/users/" + result.id.to_s%></a>
        </p><br><br>
    </div>

    <div class="one-third column scroll" style="height:300px;width:32%;border:1px solid #ccc;font:16px/26px; overflow:auto;position: relative;">
          <p style="text-align:center"><a href= <%=query%> >directions to <%= result.business_name %></a></p>
      <h5 class="ctitle">Reviews of <%= result.name %></h5>
      <p style="text-decoration:underline; font-size:18px; margin-top:-10px;"> <%= @reviews.where(:handle => result.handle).count %> Reviews</p>
          <% @reviews.reverse_order!.each do |review| %>
            <% if review.handle == result.handle %>
                <p style="font-size:14px;background-color:lightgrey;border-radius:25px;margin:5px;"> <%= review.content %></p>
              <% end %>
          <% end %>
    </div>
  <div class="one-third column scroll" style="height:300px;width:30%;border:1px solid #ccc;font:16px/26px; overflow:auto;position: relative;">
    <h5 class="ctitle">About <%= result.name%></h5>

      <p><%= result.about_me%></p>
      </div>
</div>
    </div>
</div>
</div><br><br>
<% end %>
