<div class="login">
    <% if session[:current_user_id] %>
      <h1>Welcome Back</h1>
      <%= link_to "#{User.find(session[:current_user_id]).name}",
        user_path(session[:current_user_id]) %> ||
      <%= link_to "Logout", sessions_path, method: :delete %>
    <% else %>
      <%= form_tag(sessions_path) do%>
      <div class="col_one_title">
        <%= label_tag :handle %>
        <div class="hvr-underline-from-center"><%= text_field_tag :handle %></div>
        <br>
        <%= label_tag :password %>
        <div class="hvr-underline-from-center"><%= password_field_tag :password %></div>
        <br><br>
        <div class="hvr-underline-from-center"><%= submit_tag "login"%></div>
      </div>
      <% end %>
    <% end %>
  </div>
