<div>
<% flash.each do |key, value| %>
  <div class="alert"><%= key %> signup error: <%= value %></div>
<% end %>
</div>
<div class="form">
  <div class ="row">
    <div class = "twelve colums">
      <h5 class="col_one_title">Not a member yet?  Sign Up</h5>
    </div>
  </div>
  <%= simple_form_for @user do |f| %>
  <div class=row>
    <div class="four columns col_one_title">
      <%= f.input :image %><br>
      <%= f.label :name %>
      <div id="test" class="hvr-underline-from-center"><%= f.text_field :name%></div><br>
      <%= f.label :email %>
      <div id="test2" class="hvr-underline-from-center"><%= f.text_field :email %></div><br>
      <%= f.label :handle %>
      <div id="test2" class="hvr-underline-from-center"><%= f.text_field :handle%></div><br>
    </div>
      <div class="four columns col_one_title">
      <%= f.label :business_name %>
      <%= f.text_field :business_name%><br>
      <%= f.label :service_provided %>
      <%= f.text_field :service_provided%><br>
      <%= f.label :about_me %>
      <%= f.text_field :about_me%><br>
      <%= f.label :city %>
      <%= f.text_field :city %><br>
    </div>
    <div class="four columns col_one_title">
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode %><br>
      <%= f.label :password %>
      <%= f.password_field :password %><br>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %><br>
    </div>
</div>
  <div class ="row">
    <div class = "twelve colums col_one_title">
      <%= f.submit "Sign up" %> <br>
       <% end %>
     </div>
  </div>
</div>
