<div>
  <% flash.each do |key, value| %>
    <div class="alert"><%= key %>: <%= value %></div>
  <% end %>
</div>
<div class="form">
  <div class ="row">
    <div class = "twelve colums">
      <h5 class="col_one_title">not a member yet? signup!</h5>
    </div>
  </div>
  <%= simple_form_for @user do |f| %>
  <div class=row>
    <div class="four columns col_one_title">
      <div class="hvr-underline-from-center"><%= f.input :image %></div><br>
      <%= f.label :name %>
      <div class="hvr-underline-from-center"><%= f.text_field :name%></div><br>
      <%= f.label :email %>
      <div class="hvr-underline-from-center"><%= f.text_field :email %></div><br>
      <%= f.label :handle %>
      <div class="hvr-underline-from-center"><%= f.text_field :handle, :placeholder => "@example"%></div><br>
    </div>
      <div class="four columns col_one_title">
      <%= f.label :business_name %>
      <div class="hvr-underline-from-center"><%= f.text_field :business_name%></div><br>
      <%= f.label :service_provided %>
      <div class="hvr-underline-from-center"><%= f.text_field :service_provided%></div><br>
      <%= f.label :city %>
      <div class="hvr-underline-from-center"><%= f.text_field :city %></div><br>
      <%= f.label :zipcode %>
      <div class="hvr-underline-from-center"><%= f.text_field :zipcode %></div><br>
    </div>
    <div class="four columns col_one_title">
      <%= f.label :about_me %>
      <div class="hvr-underline-from-center"><%= f.text_area :about_me, :class => "about" %></div><br>
      <%= f.label :password %>
      <div class="hvr-underline-from-center"><%= f.password_field :password %></div><br>
      <%= f.label :password_confirmation %>
      <div class="hvr-underline-from-center"><%= f.password_field :password_confirmation %></div><br>
    </div>
</div>
  <div class ="row">
    <div class = "twelve colums col_one_title">
      <div class="hvr-underline-from-center"><%= f.submit "signup" %></div><br>
       <% end %>
     </div>
  </div>
</div>
