<div class="form">
  <h5>Not a member yet?  Sign Up</h5>
  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name%><br>
    <%= f.label :email %>
    <%= f.text_field :email %><br>
    <%= f.label :handle %>
    <%= f.text_field :handle%><br>
    <%= f.label :business_name %>
    <%= f.text_field :business_name%><br>
    <%= f.label :service_provided %>
    <%= f.text_field :service_provided%><br>
    <%= f.label :about_me %>
    <%= f.text_field :about_me%><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>
    <br>
    <%= f.submit "Sign up" %> <br>
   <% end %>
</div>
