<div>
  <% flash.each do |key, value| %>
    <div class="alert" style="color:red;font-size:12px;text-align:center;"><%= key %>: <%= value %></div>
  <% end %>
</div>
<div class="form">
  <div class ="row">
    <div class = "twelve colums">
      <h5 class="col_one_title">not a member yet, signup?</h5>
    </div>
  </div>
  <%= simple_form_for @user do |f| %>
  <div class=row>
    <div class="two columns col_one_title"></div>
    <div class="two columns col_one_title">
      <%= f.label :handle %>
      <div class="hvr-underline-from-center"><%= f.text_field :handle, :placeholder => "@johnsmith"%></div><br>
      <%= f.label :password %>
      <div class="hvr-underline-from-center"><%= f.password_field :password %></div><br>
      <%= f.label :password_confirm %>
      <div class="hvr-underline-from-center"><%= f.password_field :password_confirmation %></div><br>
      <%= f.label :email %>
      <div class="hvr-underline-from-center"><%= f.text_field :email, :placeholder => "johnsmith@mail.com" %></div><br>
    </div>
    <div class="two columns col_one_title">
      <%= f.label :name %>
      <div class="hvr-underline-from-center"><%= f.text_field :name, :placeholder => "John Smith" %></div><br>
      <%= f.label :business_name %>
      <div class="hvr-underline-from-center"><%= f.text_field :business_name, :placeholder => "John's Unisex Salon"%></div><br>
      <%= f.label :service_provided %>
      <div class="hvr-underline-from-center"><%= f.text_field :service_provided, :placeholder => "Hair Sylist" %></div><br>
      <%= f.label :telephone %>
      <div class="hvr-underline-from-center"><%= f.text_field :telephone, :placeholder => "1(555)555-5555" %></div><br>
    </div>
      <div class="two columns col_one_title">
        <%= f.label :street_address %>
        <div class="hvr-underline-from-center"><%= f.text_field :street_address, :placeholder => "555 Elm Street" %></div><br>
        <%= f.label :city %>
        <div class="hvr-underline-from-center"><%= f.text_field :city, :placeholder => "New York" %></div><br>
        <%= f.label :zipcode %>
        <div class="hvr-underline-from-center"><%= f.text_field :zipcode, :placeholder => "10003" %></div><br>
        <%= f.label :hours_of_op %>
        <div class="hvr-underline-from-center"><%= f.text_field :hours_of_operation, :placeholder => "MTWTHF 11-7" %></div><br>
    </div>
    <div class="two columns col_one_title">
      <div class="hvr-underline-from-center"><%= f.input :image %></div><br>
      <div id="aboutbox">
        <%= f.label :about_me %>
        <div class="hvr-underline-from-center"><%= f.text_area :about_me, :class => "about", :placeholder =>
        "I'm a Hair Stylist that works in New York." %></div>
      </div>

    </div>
</div>
  <div class ="row">
    <div class = "twelve colums col_one_title">
      <div class="hvr-underline-from-center"><%= f.submit "signup" %></div><br>
       <% end %>
     </div>
  </div>
</div>
