  <div class="row"><br><br>
    <div>

    <div class="one-third column scroll" style="height:300px;width:30%;border:1px solid #ccc;font:16px/26px; overflow:auto;position: relative;">

      <h5 class="ctitle"><%= @user.name%>'s Info</h5>
      <%= image_tag(@user.image(:medium), size: "150x150", class: "img-responsive") %>
      <p>Handle: <%= @user.handle%></p>
      <p>Business Name: <%= @user.business_name%></p>
      <p>Service Provided: <%= @user.service_provided%></p>
      <p>Email: <%= @user.email%></p>
      <p>Street Address:</p>
      <p> <%= @user.street_address %> </p>
      <p>City: <%= @user.city %> </p>
      <p>Zip: <%= @user.zipcode %></p>
      <p>Hours of Operation: </p>
      <p><%= @user.hours_of_operation %> </p>
      <p>Tel: <%= @user.telephone %> </p>
      <p>
        Link to Profile:
        <br>
        <a href=<%="https://textbub.herokuapp.com/users/" + @user.id.to_s%>><%="https://textbub.herokuapp.com/users/" + @user.id.to_s%></a>
      </p><br><br>

    </div>
    <div class="one-third column scroll" style="height:300px;width:32%;border:1px solid #ccc;font:16px/26px; overflow:auto;position: relative;">
        <h5 class="ctitle"><%= @user.name%>'s Reviews</h5>

        <div id="reviewhtml" class="ctitle">
          <p><%= @reviews.where(:handle == result.handle).count %> Reveiws </p>
          <% @reviews.reverse_order!.each do |review| %>
            <% if review.handle ==  @user.handle %>
            <p><%= review.content %></p>
            <% end %>
            <% end %>
        </div>
      </div>
      <div class="one-third column scroll" style="height:300px;width:30%;border:1px solid #ccc;font:16px/26px; overflow:auto;position: relative;">

          <h5 class="ctitle"> About <%= @user.name%></h5>
          <p><%= @user.about_me%></p>

        </div>

  </div>
</div><br>

<div class="row">
  <div class="twelve columns col_one_title">
    <% if session[:current_user_id] && (@user.id == session[:current_user_id]) %>
      <button class="hvr-underline-from-center"><%= link_to "Delete", user_path(@user), method: :delete, data: {confirm: "Are you sure you  want to delete your profile?"}%></button>
      <button id="grabutton" class="hvr-underline-from-center">Grab Your Review HTML</button>
      <button class="hvr-underline-from-center"><%= link_to " Edits ", edit_user_path(@user)  %></button>

    <% end %>
  </div>
</div>
