<div id="user-page">
  <h5><%= @user.name%>'s page</h5><br>
  <p>handle: <%= @user.handle%></p><br>
  <p>business_name: <%= @user.business_name%></p><br>
  <p>service_provided: <%= @user.service_provided%></p><br>
  <p>about_me: <%= @user.about_me%></p><br>
  <p>email: <%= @user.email%></p><br>
</div>
