  <div class="row">
    <div class="four columns col_one_title">
      <h5><%= @user.name%>'s Info</h5>
      <%= image_tag(@user.image(:medium), size: "150x150", class: "img-responsive") %>
      <p>Handle: <%= @user.handle%></p>
      <p>Business Name: <%= @user.business_name%></p>
      <p>Service Provided: <%= @user.service_provided%></p>
      <p>About: <%= @user.about_me%></p>
      <p>Email: <%= @user.email%></p>
    </div>
    <div class="four columns col_one_title">
      <h5>Link to your TextBub Reviews</h5>
      <a href=<%="https://textbub.herokuapp.com/users/" + @user.id.to_s%>><%="https://textbub.herokuapp.com/users/" + @user.id.to_s%></a>
    </div>
    <div class="four columns col_one_title">
      <h5>Reviews of <%= @user.name%> </h5>

      <% @reviews.each do |review| %>

        <% if review.handle ==  @user.handle %>
        <p><%= review.content %></p>
        <% end %>
        <% end %>
      </div>
</div>

<div class="row">
  <div class="twelve columns col_one_title">
    <% if session[:current_user_id] && (@user.id == session[:current_user_id]) %>
      <button class="button hvr-radial-out"><%= link_to "Delete", user_path(@user), method: :delete %></button>
      <button class="button hvr-radial-out"><%= link_to "Edit", edit_user_path(@user)  %></button>
    <% end %>
  </div>
</div>
