<div id="user-page">
  <h5><%= @user.name%>'s page</h5><br>
  <p>handle: <%= @user.handle%></p><br>
  <p>business_name: <%= @user.business_name%></p><br>
  <p>service_provided: <%= @user.service_provided%></p><br>
  <p>about_me: <%= @user.about_me%></p><br>
  <p>email: <%= @user.email%></p><br>
  <% if session[:current_user_id] %>
    <button><%= link_to "Delete", user_path(@user), method: :delete %></button>
    <button><%= link_to "Edit", edit_user_path(@user)  %></button>
  <% end %>
</div>
